// Define variables for your color scheme

// For example:
$lime-green: #76b947;
$kelly_green: #b1d8b7;
$seafoam_green: #2f5233;
$spearmint: #94c973;
$gray: #000000;
$light-gray: #F4F4F4;
$lime-green:#76B947;
$seafoam-green:#2F5233;
$kelly-green:#B1D8B7;
$spearmint: #94C973;
$yellow-green:#ECF87F;
