// Specific CSS for your home-page
.banner {
  /* background-size: cover;
  background-position: center;
  padding: 200px 0; */
  display: flex;
  height: 700px;
  display: flex;
}

/* .banner-video {
  width: 100vw;
  height: 100vh;
  position: absolute;
  object-fit: cover;
  top: 0;
  z-index: -2;
} */

.banner h1 {
  color: white;

}

.banner p {
  color: white;
  opacity: .7;
  font-size: 20px;
}

.btn {
  border: 1px
  background-color solid #76B947;
  padding: 8px 16px;
  border-radius: 50px;

}


.banner-container{
  display: flex;
  justify-content: space-around;
}

.container-hompage-margin {
  margin: 200px;

  h1 {
    text-shadow: 1px 1px 2px black;
  };
}
