// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner h1 {
  color: white;

}

.banner p {
  color: white;
  opacity: .7;
  font-size: 20px;
}

.btn {
  border: 1px
  background-color solid #76B947;
  padding: 8px 16px;
  border-radius: 50px;

}

