.dashboard-big-container {
  border: solid #000;
  border-width: 3px;
  border-color: $kelly-green;
  border-radius: 10px;

}

.share {
  margin-top: 5px;
  margin-right: 15px;
  font-size: 18px;
  text-align: right;
  font-weight: bolder;
}
