.flex-accordion {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
}

.margin-dashboard {
  margin: auto;
}

.accordion-item {
  border-color: $kelly-green;
  border-radius: 10px;
}

.accordion {
  border-color: $kelly-green;
  border-radius: 10px;
}
