.footer {
  text-align: center;
  padding: 60px;
  background-color: #ffffff;
}

.footer a {
  font-size: 30px;
  color:  #76B947;
}

.footer p {
  color: #6B6C6C;
}

.footer .fas {
  color: #2F5233;
}
