h2 {
  text-align: center;
  padding: 10px;
  background-color: #ffffff;
  font-size: 30px;
  color: #6B6C6C;
}

h3 {
  text-align: center;
  padding: 0px;
  background-color: #ffffff;
  font-size: 20px;
  color: #6B6C6C;
}

.banner-video {
  position: absolute;
  width: 100%;
  // height: 300px;
  z-index: 0;
  top: Opx;
  left: 0px;
}

.gradient-video {
  position: absolute;
  width: 100%;
  // height: 300px;
  z-index: 1400;
  top: Opx;
  left: 0px;
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,0,0,0.1390931372549019) 44%, rgba(0,212,255,1) 100%);
}
.main-banner {

}
