// Import page-specific CSS files here.
@import "home";
@import "show";


.baobab_container {
  width: 90%;
  padding: 20px;
  background-color: white;
  color: hsl(0, 0%, 29%);
  margin: auto;
}

h1 {
  margin-left: 70px;
}
