.baobab_page {
  background-color: white;
  width: 80%;
  padding: 10px;
  margin: auto;
}

.navigation {
  color: $lime-green;
  text-align: left;
  margin-bottom: 20px;

  a {
    color: $lime-green;
    &:hover {
      color: $spearmint;
    }
  }
}

.baobab_container {
  color: hsl(0, 0%, 29%);

  .description_baobab {
    width : 450px;

    img {
      margin-bottom: 15px;
      box-shadow: 0 0 3px hsl(0, 0%, 70%);
      width: 100%;
    }

    h1 {
      color: hsl(0, 0%, 13%);
      font-size: 32px;
      font-weight: 700;
      text-align: left;
      margin-bottom: 15px;
    }
  }

  .description {
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    margin-top: 10px;


    a {color: $lime-green;
      font-weight: 400;
      text-decoration: underline;
      &:hover {
        color: $spearmint;
      }
    }

    .avatar {
      width: 40px;
      border-radius: 50%;
    }
  }

  .booking_baobab {
    text-align: left;
    width: 450px;
    margin-top: 50px;

    p {
      font-size: 16px;
      font-weight: 500;
    }

    span {
      margin-top: 20px;
      font-size: 25px;
      font-weight: 600;
    }

    .simple_form {
      margin-top: 20px;
    }

    .form-control {
      width: 90%;
      background-color: #F4F4F4;
      color:black;
    }

    .btn {
    width: 90%;
    margin-top: 10px;
    border-radius: 4px;
    }
  }
}
