<div class="container d-flex flex-row">
  <%= form_tag trees_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-search",
      placeholder: "Find a country"
    %>
    <%= submit_tag "Search", class: "btn-flat" %>
  <% end %>
</div>












<!-- Search -->
		<%# <div class="hero_single jarallax">
		   <div class="wrapper" style="background-color: rgba(0, 0, 0, 0.5);">
				<div class="container">

					<form>
						<div class="row no-gutters custom-find-input-2">
							<div class="col-lg-4">
								<div class="form-group">
									<input class="form-control" type="text" placeholder="Adress...">
									<i class="icon_pin_alt"></i>
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<input class="form-control" type="text" name="dates" placeholder="When...">
									<i class="icon_calendar"></i>
								</div>
							</div>
							<div class="col-lg-3">
								<div class="panel-dropdown">
										<!-- Quantity Buttons -->
										<div class="qtyButtons">
											<label>Qty</label>
											<input type="text" name="qtyInput" value="1">
										</div>

										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-2">
								<input type="submit" class="btn_find" value="Find">
							</div>
						</div>
						<!-- /row -->
					</form>
				</div>
			</div>
		</div>
		<!-- /Search --> %>
