
<%# Banneer %>
<div class="banner banner-container">
  <%= video_tag "video.mp4", autoplay: true, loop: :loop, muted: :muted, id:"myVideo", class: "banner-video" %>
  <div class="container container-hompage-margin">
    <h1>Find the Baobab <strong>of your dreams</strong> today </strong>!</h1>
    <%= link_to "Find the perfect Baobaob", trees_path, class: "btn btn-flat" %>
  </div>
</div>

<%# how it works %>
<h2>How it works </h2>
<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://ibb.co/k3nySZr)">
    Sign up
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
    Find the perfect Baobab
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
    Send a Request and enjoy
  </div>
</div>



<h2>Our popular Baobabs </h2>
<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1631551807930-6e52bca73022?ixlib)">
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1605512696792-79765f6d8e4a)">
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1515863149848-223cbed59017)">
  </div>
</div>
<br>

</div>

<%# <% @trees.each do |tree| %>
      <%# <%= link_to tree_path(tree), :class => 'link-decoration' do %>
        <%# <%= render "/shared/tree_card", tree: tree %>
      <%# <% end %>
    <%# <% end %>
