<div class="banner banner-container">
  <%= video_tag "video.mp4", autoplay: true, loop: :loop, muted: :muted, id:"myVideo", class: "banner-video" %>
  <div class="container container-hompage-margin">
    <br>
    <br>
    <br>
    <br>
    <h1>Find the Baobab <strong>of your dreams</strong> today </strong>!</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <%= link_to "Find the perfect Baobab", trees_path, class: "btn btn-flat" %>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<h2>Why to rent  a Baobaob?  </h2>
<br>
<div class="cards">
  <a href="https://pedalesetguidon.herokuapp.com/">
    <div class="card-product">
        <img src="https://images.unsplash.com/uploads/14122621859313b34d52b/37e28531" />
        <div class="card-product-infos">
          <h2>We deliver your tree</h2>
          <p> You can create a different look for the space every month, by getting your current tree replaced as often as you like. With this, you can also realise which type of trees look will in environment.
          </p>
      </div>
    </div>
  </a>

  <a href="https://treent.herokuapp.com">
    <div class="card-product">
        <img src="https://images.unsplash.com/photo-1500999753436-5de4f76353f5" />
        <div class="card-product-infos">
          <h2>It is more economical</h2>
          <p> Renting a tree would mean getting more economical ang regular maintenance for your tree. If you are interested in Baobab with fabulous plants we can provide that service thanks or partnership with Treent
          </p>
        </div>
    </div>
  </a>

  <a href="">
    <div class="card-product">
      <img src="https://images.unsplash.com/photo-1504598578017-40d9b776f1bc" />
      <div class="card-product-infos">
        <h2>You change the world</h2>
        <p>We set up programmes for the preservation of natural ecosystems: <br> <br>
            ~ In Indonesia, the focus is on traditional food products.<br>
            ~ In Cameroon, Planète Urgence supports producers to save the dying trees </p>
      </div>
    </div>
  </a>

</div>
<br>
<br>
<br>

<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1502082553048-f009c37129b9)">
  <div>
						<h1> Are you a Baobaob owner?  Join our network and make money </h1>
            <%= link_to "Rent  your Baobaob", dashboard_path, class: "btn btn-flat" %>
</div>
</div>
