
<%# Banneer %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1558694440-03ade9215d7b
);">
  <div class="container">
    <h1>Find the Baobaob <strong>of your dreams</strong> today </strong>!</h1>
    <p>We are the only baobao market place in the world!.</p>
    <%= link_to "Rent the perfect Baobaob", trees_path, class: "btn btn-flat" %>
  </div>
</div>
<%# Card text %>
<h2> How it works</h2>
<h3>We put in relation providers of babobabs with people who are in love of them</h3>

    <%# card cathegorie %>
<%#
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1619203921846-ba381b842a89?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80)">
    Our species

</div> %>

<%# card grid %>

<%# <div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1558694725-7f8e89659dc1)">
    Madagascar
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1631551807930-6e52bca73022)">
    France
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1631493642429-576d42c9470a)">
    China
  </div>
</div> %>



  <%# <video autoplay muted loop id="myVideo" class="banner-video "> %>
    <%# <source src="<%= url %>" type="video/mp4"> %>
  <%# </video> %>
