.mapboxgl-popup {
  max-width: 150px;
  border-radius: 2px;
  border-color: 2px, solid, rgb(63, 62, 62)
}

.mapboxgl-popup-content {
  text-align: center;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  p, h1 {
    color: black;
  }
  img {
    border-radius: 2px;
    margin-bottom: 5px;
    box-shadow: 0 5px 5px 0 hsla(0, 0%, 0%, 0.2);
  }
}
