.navbar-lewagon {
  justify-content: space-between;
  background: white;
  z-index: 10;
  padding-bottom: 110px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

.container-fluid {
  margin-top: 0px;
  position: fixed;
  background: white;
}
